/* INCORPORATION POLICE ECRITURE */

@Font-face {
  font-family: Aboreto-Regular;
  src: url(./assets/font/Aboreto-Regular.ttf);
}

/* ELEMENTS GENERAUX DE LA PAGE */

* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Aboreto-Regular", Monaco, monospace;
  letter-spacing: -0.3px;
  word-spacing: 3.6px;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-shadow: 1px 0px 13px #606060;
}

/* NAVBAR + DISPOSITION DES 4 BOUTTONS LA COMPOSANT*/

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: #343232;
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 1.2rem;
  z-index: 5;
  border-bottom: 3px solid #b86f26;
  border-top: 3px solid #b86f26;
}

 /* LOGO NAVBAR */

#logo {
  border-radius: 50%;
  width: 90px;
  margin: 10px;
  filter: brightness(100%);
}

/* EFFET HOVER LOGO NAVBAR*/

#logo:hover {
  filter: brightness(15%);
  transition: 0.4s;
}
#meme {
  display: none;
}

 /* --------------------------------------------------------------------------------
                          EFFET HOVER LOGO APPARITION MEME LOGO - SUPRIMER POUR VOIR
 -----------------------------------------------------------------------------------

#logo:hover + img { 
  display: block;
  width: 100vh;
  height: 100vh;
} 
------------------------------------------------------------------------------------
                          EFFET HOVER LOGO APPARITION MEME LOGO - SUPRIMER POUR VOIR
 -----------------------------------------------------------------------------------
 */ 

/* BACKGROUND DE LA PAGE */

body {
  background: rgb(51,51,51);
  background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(89,89,89,1) 20%, rgba(134,134,132,1) 40%, rgba(156,156,156,1) 60%, rgba(180,180,180,1) 80%, rgba(231,231,231,1) 100%);
  z-index: 4;
}

/* ENSEMBLE DES LIENS STYLE TEXTE LI (NAVBAR/FOOTER) */

a {
  text-align: center;
  color: #000000;
  font-size:  1.8rem !important;
  font-weight: bold;
font-family: Poppins, Monaco, sans-serif;
}

/* EFFET HOVER DES LIENS (BOUTTONS DYNAMIQUES NAVBAR/FOOTER) */

a:hover {
  border-radius: 25%;
  padding: .8rem;
  transition: 0.1s;
  animation-timing-function: linear;
  background: rgb(26, 25, 25);
  color:  white;
  border: 3px solid #ce7113;
  text-shadow: 5px 5px 7px #b86f26;
}  

/* PREMIERE PARTIE DE LA PAGE (PHOTO+TEXTE INTRODUCTION) */

.accueil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 100px;
  height: 720px;
}

/* UNIQUEMENT POUR TEXTE INTRODUCTION */

h1 {
  color: #000000;
  font-size: 5rem;
  margin: 50px;
}

/* IMAGE POUR INTRODUCTION */

#img-1 {
  margin: auto;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  box-shadow: 14px -9px 6px 6px rgb(57 57 57), 1em 0 0.2rem rgb(123 122 122);
  filter: brightness(50%);
}

/* EFFET HOVER IMAGE PRINCIPALE INTRODUCTION/ACCUEIL */

#img-1:hover {
    filter: brightness(100%);
    box-shadow: -14px -9px 6px 6px rgb(57 57 57);
    transition: 0.5s;
}

/* ENSEMBLE DES TITRES: PROJETS/A PROPOS/CONTACT */

h2 {
  color: bold #404040;
  text-align: center;
  font-size: 5.7rem;
  padding: 3px;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: inset 0px 0px 17px 9px rgb(0 0 0);
  background: #ff7f0042;
  margin-left: 5%;
  margin-right: 5%;
}

/* ENSEMBLE DES COMPOSANTS VISUELS DU CAROUSEL HORIZONTAL PROJETS */

#css {
  color: yellow;
  font-family: 'Odibee Sans', cursive;
}
/* ZONE WRAPPANT L'ENSEMBLE, MODIFIER ICI POUR STYLISER LA BOX */

.carousel-wrapper {
  height: 600px;
  position: relative;
  width: 800px;
  display: block;
  margin: 50px auto ;
  border: 2px solid black;
  z-index: auto;
  box-shadow: 11px -2px 2px 4px rgb(57 57 57), 0.8em 0 0 rgb(123 122 122);
}

/* EFFET HOVER BOX CAROUSEL */

.carousel-wrapper:hover {
  scale: 1.07;
  transition: 0.5s;
}
.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid 2px rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
  display: none;
}
/* POUR MODIFIER IMAGE CAROUSEL, CHANGER URL VERS UNE AUTRE IMAGE */
/* VOIR COMMENTAIRE HTML POUR RAJOUTER UNE NOUVELLE IMAGE */

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('./assets/img/img3.jpeg') center/cover;
  
}
.item-2 {
  background: url('./assets/img/img2.jpeg') center/cover;
  
}
.item-3 {
  background: url('./assets/img/img1.jpeg') center/cover;
  
}

*:target ~ .item-1{
  opacity: 0;
  
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

/* FIN DU CAROUSEL */

/* TEXTE COMPOSANT LE A PROPOS */

#rep1 {
  text-transform: uppercase;
  color: rgb(1, 1, 1);
  text-align: center;
  font-size: 3.5rem;
  margin: 100px;
}

/* CHAMP DE SAISIE COMPOSANT LE FORMULAIRE CONTACT */

input{
  text-align: center;
  border: 1px solid #b86f26;
  padding: 10px 30px;
  text-shadow: none;
  font-size: 30px;
  box-shadow: 3px 5px 7px #000000;
  background: gray;
  margin-top: 10px;
}

/* CHANGER STYLE TEXTE PLACEHOLDER */

input::placeholder {
  color: black;
  font-size: 30px;
}

/* STYLE CONDTIONS SOUS INPUT FORMULAIRE */

.form p {
  margin-top: 20px;
  color: bold black;
  font-size: 1.1rem;
  text-align: center;
  display: block-inline;
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
}
.form .green, .form .red {
  font-size: 1.1rem;
  text-align: center;
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
}
.green {
  color: #00ff00ba;
}
.red {
  color: #ff3939;
}

/* BOUTTON FIN DE FORMULAIRE CONTACT */

#submit {
  border-radius: 20px;
  margin-left: 33%;
  transform: translateX(50%);
  transform: translateY(50%);
  box-shadow: 3px 5px 7px #000000;
  margin-bottom: 50px;
  border: 2px solid black;
}

/* HOVER DU BOUTTON ENVOYER */

#submit:hover {
  background: rgb(26, 25, 25);
  color:  white;
  border: 3px solid #ce7113;
  text-shadow: 5px 5px 7px #b86f26;
  transition: 0.2s;
}

/* CLASSE DE L'ENSEMBLE DES INPUTS COMPOSANT LE FORMULAIRE CONTACT ALIAS INPUTS */

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* PARENT DE LA CLASSE DES INPUTS CI-DESSUS */

form {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 55px;
}

/* BOX CARTE GOOGLE/ */

iframe {
  width: 100%;
  border-radius: 20%;
}

/* PARENT 1 DE LA CARTE GOOGLE, .form = PARENT N2 */
/* STYLISER BORDURE CARTE ICI */

#map {
  width: auto;
  height: auto;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 25px;
  border: 2px solid #b86f26;
  border-radius: 20%;
  box-shadow: 14px -1px 9px 6px rgb(57 57 57), 0.8em 0 0 rgb(123 122 122);
}

/* CLASSE EQUIVALENTE AU .navbar POUR LE FOOTER */

.footerA {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background: rgb(81, 81, 81);
  width: 100%;
  font-size: 1.2rem;
  border-top: 3px solid #b86f26;
  border-bottom: 3px solid #b86f26;
}


/* ENSEMBLE DU RESPONSIVE (ADAPTIBILITE MOBILE) UNIQUEMENT SI ECRAN  MAX 1090px */
/* VOIR LE index.html OU PLUS HAUT DANS LE CSS POUR COMPRENDRE L'UTILITE DE CHACUN */

@media screen and (max-width: 1090px ) {
  .accueil {
      grid-template-columns: 100%;
      text-align: center;
  }
  .nbt {
      font-size: 1.1rem !important;
  }
  .form {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 100%;
      margin-top: -100px;
  }
  h1 {
      margin-top: 100px;
      font-size: 3rem;
      margin-left: 20px;
      margin-right: 20px;
  }
  #projets {
      grid-template-columns: 1fr 1fr;
  }
  h2 {
      margin-top: 175px;
      margin-bottom: 100px;
      padding: 10px;
  }
  #l1 {
    margin-top: 100px;
    margin-bottom: -225px;
  }
  #rep1 {
    padding-top: 75px;
  }
  #img-1 {
      margin-top: 80px;
  }
  #rep1 {
      margin-top: 250px;
  }
  a {
      font-size: 1.5rem !important;
  }
  .pic-ctn {
    margin-bottom: -150px;
  }
  .carousel-wrapper{
    height: 600px;
    width: auto;
  }
  input {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1040px ) {
  .carousel-wrapper {
    height: fit-contet;
    width: auto;
    margin-right: 30px;
    margin-left: 30px;
  }
}